* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container {
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
}


#calc {
    width: 100%;
    max-width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: gainsboro;
}


header {
    border-bottom: 1px solid rgb(58, 58, 60);

}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    flex-grow: 0.05;
    overflow: hidden;
    position: relative;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#secondary-board {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

#ming-board {
    justify-content: left;
    flex: 1;
}

#output {
    justify-content: left;
    flex: 3;
    color: gainsboro;
}

#fa-board {
    justify-content: right;
    flex: 1;
}


.ming-board-row {
    display: flex;
    justify-content: left;
    margin: 0 auto 8px;
}







.finalComboA {
    display: flex;
}

.spacer {
    width: 40px
}

.newset {
    display: flex;
}






.gong, .fa, .ming , .box ,.output-tile , .wu {
    border: 2px solid rgb(58, 58, 60);
    font-weight: normal;
    min-width: 32px;
    min-height: 40px;
    font-size: 0.5rem;
    color: aliceblue;
    touch-action: manipulation;
}

.wu {
    transform: rotate(90deg);
}

.fa-board-row {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0 auto 8px;
}





#keyboard-container {

    height: 500px;
    flex: 1;
    width: 100%;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 40px;
    cursor: pointer;
    display: flex;
    background-color: black;
    background-size: auto;
    flex-grow: 0.5;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 0.5;
    background-color: gainsboro;
    color: rgb(16, 145, 49);
    align-items: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    height: 25px;

}

#last-keyboard-row {
    height: 25px;
}

.spacer-half {
    flex-grow: 0.5;
}



/* Style the tab */
.tab {
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 32px;
    transition: 0.3s;
    color: gainsboro;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(44, 43, 43);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(51, 51, 51);
    border-top: none;
}

.finalComboA{
    display: flex;
    flex-wrap: wrap;
}

.finalComboACalc{
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%; display: flex;
    border: 1px solid rgb(51, 51, 51);
}

.finalComboACalc > div{
    flex: 1 1 25%
}

.total, .totalsum{
    color:  yellow;
}

#Table {
    overflow: auto;
}

#Output {
    overflow: auto;
}

#farn-table,
th,
td {
    color: gainsboro;
    border: 1px solid white;
    border-collapse: collapse;
}

td.sub-header {
    color: aqua;
    text-align: center;
}

#third-board {
    font-size: 0.5rem;
}

.farnInput {
    width: 50px;
}

.gongInput {
    width: 40px;
}

.cbCell {
    text-align: center;
}

#ImportExportOverLay {
    position: fixed;
    width: 50%;
    z-index: 2;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    font-size: 40px;
    display: none;
}

#Export{
    font-size: 5px;
}